.swipeable-list-item{
  border-bottom: 1px solid #ccc;
  
  .crypto-item{
    width: 100%;
    cursor: pointer;
  
    &-name,
    &-price{
      font-size: 16px;
      font-weight: 500;
      text-transform: capitalize;
    }
  
    &-changed{
      display: flex;
      float: right;
      color: green;
  
      &.loss{
        color: #B00020;
      }
  
      .material-icons{
        width: 14px;
        height: 14px;
        margin-right: 2px;
      }
    }
  
    .text-xs,
    .material-icons{
      font-size: 14px;;
    }
  
    img{
      width: 48px;
      height: 48px;
    }
  
    .text-list-title-material{
      .text-opacity-55{
        --tw-text-opacity: 1;
      }
    }
   
  }

  button{
    height: 72px;
    max-width: 100px;
    background: #B00020;
  }
}